<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cyj.mapper.TaskMapper">

        <!-- 通用查询映射结果 -->
        <resultMap id="BaseResultMap" type="com.cyj.pojo.Task">
                    <result column="id" property="id"/>
                    <result column="module" property="module"/>
                    <result column="jobName" property="jobName"/>
                    <result column="jobGroupName" property="jobGroupName"/>
                    <result column="triggerName" property="triggerName"/>
                    <result column="triggerGroupName" property="triggerGroupName"/>
                    <result column="corn" property="corn"/>
                    <result column="deleted" property="deleted"/>
                    <result column="description" property="description"/>
                    <result column="create_time" property="createTime"/>
                    <result column="update_time" property="updateTime"/>
        </resultMap>

        <!-- 通用查询结果列 -->
        <sql id="Base_Column_List">
            id, module, jobName, jobGroupName, triggerName, triggerGroupName, corn, deleted, description, create_time, update_time
        </sql>

</mapper>